@charset "UTF-8";

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype"), url("../fonts/Montserrat-Medium.svg#Montserrat-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype"), url("../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary: #188EA0;
  --secondary: #CDE7EC;
  --bg: #F3F4F6;
  --text: #182930;
}

/*
! tailwindcss v3.4.1 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

*,
::before,
::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}

.container {
  width: 100%;
}

.visible {
  visibility: visible;
}

.collapse {
  visibility: collapse;
}

.static {
  position: static;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.-bottom-16 {
  bottom: -4rem;
}

.-left-8 {
  left: -2rem;
}

.bottom-0 {
  bottom: 0px;
}

.bottom-6 {
  bottom: 1.5rem;
}

.bottom-7 {
  bottom: 1.75rem;
}

.bottom-full {
  bottom: 100%;
}

.left-0 {
  left: 0px;
}

.left-full {
  left: 100%;
}

.right-0 {
  right: 0px;
}

.right-8 {
  right: 2rem;
}

.right-full {
  right: 100%;
}

.top-0 {
  top: 0px;
}

.top-8 {
  top: 2rem;
}

.top-full {
  top: 100%;
}

.-z-10 {
  z-index: -10;
}

.z-10 {
  z-index: 10;
}

.col-span-1 {
  grid-column: span 1 / span 1;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.col-span-5 {
  grid-column: span 5 / span 5;
}

.col-span-7 {
  grid-column: span 7 / span 7;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.-mb-6 {
  margin-bottom: -1.5rem;
}

.-mt-1 {
  margin-top: -0.25rem;
}

.mb-16 {
  margin-bottom: 4rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-2\.5 {
  margin-bottom: 0.625rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.ml-10 {
  margin-left: 2.5rem;
}

.ml-auto {
  margin-left: auto;
}

.mr-10 {
  margin-right: 2.5rem;
}

.mr-12 {
  margin-right: 3rem;
}

.mr-16 {
  margin-right: 4rem;
}

.mr-7 {
  margin-right: 1.75rem;
}

.mr-auto {
  margin-right: auto;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-14 {
  margin-top: 3.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-3\.5 {
  margin-top: 0.875rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-\[100px\] {
  margin-top: 100px;
}

.mt-auto {
  margin-top: auto;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.table {
  display: table;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-6 {
  height: 1.5rem;
}

.h-\[268px\] {
  height: 268px;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.min-h-\[380px\] {
  min-height: 380px;
}

.min-h-\[495px\] {
  min-height: 495px;
}

.w-44 {
  width: 11rem;
}

.w-6 {
  width: 1.5rem;
}

.w-\[190px\] {
  width: 190px;
}

.w-\[240px\] {
  width: 240px;
}

.w-\[283px\] {
  width: 283px;
}

.w-\[320px\] {
  width: 320px;
}

.w-\[380px\] {
  width: 380px;
}

.w-\[420px\] {
  width: 420px;
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.max-w-\[1080px\] {
  max-width: 1080px;
}

.max-w-\[280px\] {
  max-width: 280px;
}

.max-w-\[33\%\] {
  max-width: 33%;
}

.max-w-\[347px\] {
  max-width: 347px;
}

.max-w-\[368px\] {
  max-width: 368px;
}

.max-w-\[420px\] {
  max-width: 420px;
}

.max-w-\[440px\] {
  max-width: 440px;
}

.max-w-\[471px\] {
  max-width: 471px;
}

.max-w-\[478px\] {
  max-width: 478px;
}

.max-w-\[480px\] {
  max-width: 480px;
}

.max-w-\[660px\] {
  max-width: 660px;
}

.grow {
  flex-grow: 1;
}

.-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.animate-iconSlide1 {
  animation: iconSlide .8s linear forwards;
}

.animate-iconSlide2 {
  animation: iconSlide .8s .8s linear forwards;
}

.animate-iconSlide3 {
  animation: iconSlide .8s 1.6s linear forwards;
}

.animate-iconSlide4 {
  animation: iconSlide .8s 2.4s linear forwards;
}

.resize {
  resize: both;
}

.grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-x-10 {
  column-gap: 2.5rem;
}

.gap-y-4 {
  row-gap: 1rem;
}

.space-x-3> :not([hidden])~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.75rem * var(--tw-space-x-reverse));
  margin-left: calc(0.75rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-y-10> :not([hidden])~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2.5rem * var(--tw-space-y-reverse));
}

.space-y-3> :not([hidden])~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}

.space-y-\[100px\]> :not([hidden])~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(100px * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(100px * var(--tw-space-y-reverse));
}

.overflow-hidden {
  overflow: hidden;
}

.text-wrap {
  text-wrap: wrap;
}

.rounded-2xl {
  border-radius: 1rem;
}

.rounded-3xl {
  border-radius: 1.5rem;
}

.rounded-t-3xl {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.rounded-br-full {
  border-bottom-right-radius: 9999px;
}

.rounded-ee-3xl {
  border-end-end-radius: 1.5rem;
}

.rounded-tl-3xl {
  border-top-left-radius: 1.5rem;
}

.rounded-tl-full {
  border-top-left-radius: 9999px;
}

.border {
  border-width: 1px;
}

.border-\[3px\] {
  border-width: 3px;
}

.border-t {
  border-top-width: 1px;
}

.border-secondary {
  --tw-border-opacity: 1;
  border-color: rgb(205 231 236 / var(--tw-border-opacity));
}

.border-t-bg {
  --tw-border-opacity: 1;
  border-top-color: rgb(243 244 246 / var(--tw-border-opacity));
}

.border-opacity-30 {
  --tw-border-opacity: 0.3;
}

.bg-bg {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(24 142 160 / var(--tw-bg-opacity));
}

.bg-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(205 231 236 / var(--tw-bg-opacity));
}

.bg-opacity-60 {
  --tw-bg-opacity: 0.6;
}

.p-1 {
  padding: 0.25rem;
}

.p-6 {
  padding: 1.5rem;
}

.p-9 {
  padding: 2.25rem;
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-9 {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}

.px-\[30px\] {
  padding-left: 30px;
  padding-right: 30px;
}

.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pb-7 {
  padding-bottom: 1.75rem;
}

.pt-11 {
  padding-top: 2.75rem;
}

.pt-20 {
  padding-top: 5rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.text-center {
  text-align: center;
}

.text-\[13px\] {
  font-size: 13px;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-medium {
  font-weight: 500;
}

.text-\[\#80A6AC\] {
  --tw-text-opacity: 1;
  color: rgb(128 166 172 / var(--tw-text-opacity));
}

.text-bg {
  --tw-text-opacity: 1;
  color: rgb(243 244 246 / var(--tw-text-opacity));
}

.text-primary {
  --tw-text-opacity: 1;
  color: rgb(24 142 160 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.underline {
  text-decoration-line: underline;
}

.opacity-0 {
  opacity: 0;
}

.opacity-50 {
  opacity: 0.5;
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline {
  outline-style: solid;
}

.blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.invert {
  --tw-invert: invert(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  min-height: 100vh;
  position: relative;
  font-size: 14px;
  color: var(--text);
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
}

::-webkit-scrollbar {
  /* Укажи ширину вертикального скроллбара */
  width: 14px;
  /* Укажи высоту вертикального скроллбара */
  height: 14px;
  /* Укажи цвет фона под скроллбаром */
  background: #ffffff;
}

input {
  border: none;
  outline: none;
}

html {
  overflow-x: hidden;
}

ol li:not(:first-child) {
  margin-top: 0.8em;
}

.body-block {
  overflow: hidden;
}

.hidden {
  display: none;
}

.wrapper {
  max-width: 1360px;
  padding: 0 30px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 0 20px;
  }
}

.section-pt {
  padding-top: 70px;
}

@media screen and (max-width: 1200px) {
  .section-pt {
    padding-top: 45px;
  }
}

@media screen and (max-width: 650px) {
  .section-pt {
    padding-top: 40px;
  }
}

.section-pb {
  padding-bottom: 70px;
}

@media screen and (max-width: 1200px) {
  .section-pb {
    padding-bottom: 45px;
  }
}

@media screen and (max-width: 650px) {
  .section-pb {
    padding-bottom: 40px;
  }
}

.title {
  font-weight: 600;
  line-height: 1.25;
}

.title--h1 {
  font-size: 42px;
}

@media screen and (max-width: 1200px) {
  .title--h1 {
    font-size: 36px;
  }
}

@media screen and (max-width: 650px) {
  .title--h1 {
    font-size: 32px;
  }
}

.title--h2 {
  font-size: 36px;
}

@media screen and (max-width: 1200px) {
  .title--h2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 650px) {
  .title--h2 {
    font-size: 24px;
  }
}

.title--h3 {
  font-size: 24px;
  font-weight: 500;
}

@media screen and (max-width: 650px) {
  .title--h3 {
    font-size: 20px;
  }
}

.pos_aware:hover {
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  color: #e91e63;
  z-index: 8;
}

.pos_aware:hover:before {
  -webkit-transform: scale(12);
  transform: scale(12);
}

.primary-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 34px;
  background: #188EA0;
  border-radius: 12px;
  color: #fff;
  transition: 0.25s;
  overflow: hidden;
  z-index: 1;
  position: relative;
}

.primary-btn::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  display: block;
  width: 40px;
  height: 40px;
  background: #4EBDCE;
  border-radius: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
}

.primary-btn:hover::before {
  -webkit-transform: scale(12);
  transform: scale(12);
}

.primary-btn:active::before {
  background: #1AB3CA;
}

.primary-btn:disabled {
  pointer-events: none;
  background: #D8D8D8;
}

@media screen and (max-width: 650px) {
  .primary-btn {
    padding: 14px 20px;
  }
}

.outlined-btn {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 34px;
  border: 1px solid currentColor;
  border-radius: 12px;
  color: var(--primary);
  transition: 0.25s;
}

.outlined-btn:hover {
  color: #4EBDCE;
}

.outlined-btn:active {
  color: #1AB3CA;
}

.outlined-btn:disabled {
  color: #D8D8D8;
}

@media screen and (max-width: 650px) {
  .outlined-btn {
    padding: 12px 20px;
    font-size: 14px;
  }
}

.outlined-white-btn {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 34px;
  border: 1px solid currentColor;
  border-radius: 12px;
  color: var(--bg);
  transition: 0.25s;
}

.outlined-white-btn:hover {
  color: #A9D7E0;
}

.outlined-white-btn:active {
  color: #71C7D7;
}

.outlined-white-btn:disabled {
  color: #D8D8D8;
}

.wa-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 34px;
  background: #48C95F;
  border-radius: 12px;
  color: #fff;
  transition: 0.25s;
  overflow: hidden;
  z-index: 1;
  position: relative;
  text-wrap: nowrap;
}

.wa-btn::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  display: block;
  width: 40px;
  height: 40px;
  background: #3CA94F;
  border-radius: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
  pointer-events: none;
}

.wa-btn:hover::before {
  -webkit-transform: scale(12);
  transform: scale(12);
}

.wa-btn:active::before {
  background: #2A833A;
}

.tg-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 34px;
  background: #27A6E5;
  border-radius: 12px;
  color: #fff;
  transition: 0.25s;
  text-wrap: nowrap;
  overflow: hidden;
  z-index: 1;
  position: relative;
}

.tg-btn::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  display: block;
  width: 40px;
  height: 40px;
  background: #2294CD;
  border-radius: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
  pointer-events: none;
}

.tg-btn:hover::before {
  -webkit-transform: scale(12);
  transform: scale(12);
}

.tg-btn:active::before {
  background: #1B77A4;
}

.primary-link {
  display: inline-block;
  color: var(--primary);
  font-weight: 500;
}

.primary-link:hover {
  text-decoration: underline;
}

.primary-link:active {
  text-decoration: none;
}

.secondary-link {
  display: inline-block;
  color: var(--bg);
}

.secondary-link:hover {
  text-decoration: underline;
}

.secondary-link:active {
  text-decoration: none;
}

.wpcf7-not-valid-tip {
  position: absolute;
  left: 25px;
  bottom: 2px;
  font-size: 10px;
  width: calc(100% - 50px);
}

.wpcf7-response-output {
  display: none;
}

.field {
  position: relative;
}

.field__inp {
  padding: 16px 25px;
  background: #F3F4F6;
  border-radius: 12px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.field__inp.wpcf7-not-valid {
  background-color: #FFCACA;
}

.field__error {
  color: #EF4343;
  position: absolute;
  left: 25px;
  bottom: 2px;
  display: block;
  font-size: 10px;
  display: none;
}

.field--errored .field__error {
  display: block;
}

.field--errored {
  background-color: #FFCACA;
}

table {
  border-collapse: separate;
  border: solid var(--secondary) 4px;
  border-radius: 24px;
}

table td {
  border-left: solid var(--secondary) 4px;
  border-top: solid var(--secondary) 4px;
  padding: 20px;
}

@media screen and (max-width: 650px) {
  table td {
    padding: 8px;
  }
}

table td:first-child {
  border-left: none;
  width: 30%;
}

@media screen and (max-width: 650px) {
  table td:first-child {
    width: 45%;
  }
}

table tr:first-child td {
  border-top: none;
}

@media screen and (max-width: 650px) {
  table {
    font-size: 12px;
  }
}

[data-modal] {
  opacity: 0;
  pointer-events: none;
  transition: 0.25s;
}

[data-modal=active] {
  opacity: 1;
  pointer-events: auto;
}

@keyframes iconSlide {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

.group\/form:has(.sent) .group-has-\[\.sent\]\/form\:flex {
  display: flex;
}

.group\/form:has(.sent) .group-has-\[\.sent\]\/form\:hidden {
  display: none;
}

@media (max-width: 1200px) {
  .lg\:bottom-11 {
    bottom: 2.75rem;
  }

  .lg\:left-auto {
    left: auto;
  }

  .lg\:right-4 {
    right: 1rem;
  }

  .lg\:-order-1 {
    order: -1;
  }

  .lg\:col-span-1 {
    grid-column: span 1 / span 1;
  }

  .lg\:col-span-2 {
    grid-column: span 2 / span 2;
  }

  .lg\:col-span-3 {
    grid-column: span 3 / span 3;
  }

  .lg\:mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .lg\:my-0 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .lg\:mb-8 {
    margin-bottom: 2rem;
  }

  .lg\:ml-0 {
    margin-left: 0px;
  }

  .lg\:ml-auto {
    margin-left: auto;
  }

  .lg\:mr-0 {
    margin-right: 0px;
  }

  .lg\:mt-0 {
    margin-top: 0px;
  }

  .lg\:mt-11 {
    margin-top: 2.75rem;
  }

  .lg\:mt-4 {
    margin-top: 1rem;
  }

  .lg\:mt-\[40px\] {
    margin-top: 40px;
  }

  .lg\:block {
    display: block;
  }

  .lg\:grid {
    display: grid;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:w-16 {
    width: 4rem;
  }

  .lg\:w-24 {
    width: 6rem;
  }

  .lg\:w-52 {
    width: 13rem;
  }

  .lg\:w-\[120px\] {
    width: 120px;
  }

  .lg\:w-\[271px\] {
    width: 271px;
  }

  .lg\:w-\[272px\] {
    width: 272px;
  }

  .lg\:w-full {
    width: 100%;
  }

  .lg\:max-w-\[322px\] {
    max-width: 322px;
  }

  .lg\:max-w-\[325px\] {
    max-width: 325px;
  }

  .lg\:max-w-\[360px\] {
    max-width: 360px;
  }

  .lg\:max-w-\[40\%\] {
    max-width: 40%;
  }

  .lg\:max-w-\[464px\] {
    max-width: 464px;
  }

  .lg\:max-w-\[unset\] {
    max-width: unset;
  }

  .lg\:-scale-x-100 {
    --tw-scale-x: -1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .lg\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .lg\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .lg\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .lg\:flex-col {
    flex-direction: column;
  }

  .lg\:content-start {
    align-content: flex-start;
  }

  .lg\:items-stretch {
    align-items: stretch;
  }

  .lg\:gap-3 {
    gap: 0.75rem;
  }

  .lg\:gap-3\.5 {
    gap: 0.875rem;
  }

  .lg\:gap-5 {
    gap: 1.25rem;
  }

  .lg\:gap-y-2 {
    row-gap: 0.5rem;
  }

  .lg\:gap-y-2\.5 {
    row-gap: 0.625rem;
  }

  .lg\:space-y-\[50px\]> :not([hidden])~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(50px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(50px * var(--tw-space-y-reverse));
  }

  .lg\:p-6 {
    padding: 1.5rem;
  }

  .lg\:px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .lg\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .lg\:py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .lg\:py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .lg\:text-\[13px\] {
    font-size: 13px;
  }

  .lg\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .lg\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

@media (max-width: 768px) {
  .md\:px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

@media (max-width: 640px) {
  .sm\:static {
    position: static;
  }

  .sm\:-left-2 {
    left: -0.5rem;
  }

  .sm\:-right-8 {
    right: -2rem;
  }

  .sm\:-top-16 {
    top: -4rem;
  }

  .sm\:bottom-auto {
    bottom: auto;
  }

  .sm\:right-4 {
    right: 1rem;
  }

  .sm\:top-4 {
    top: 1rem;
  }

  .sm\:-order-1 {
    order: -1;
  }

  .sm\:-order-2 {
    order: -2;
  }

  .sm\:col-span-1 {
    grid-column: span 1 / span 1;
  }

  .sm\:col-span-12 {
    grid-column: span 12 / span 12;
  }

  .sm\:mb-12 {
    margin-bottom: 3rem;
  }

  .sm\:mb-2 {
    margin-bottom: 0.5rem;
  }

  .sm\:mb-4 {
    margin-bottom: 1rem;
  }

  .sm\:mb-5 {
    margin-bottom: 1.25rem;
  }

  .sm\:ml-0 {
    margin-left: 0px;
  }

  .sm\:mr-0 {
    margin-right: 0px;
  }

  .sm\:mt-11 {
    margin-top: 2.75rem;
  }

  .sm\:mt-6 {
    margin-top: 1.5rem;
  }

  .sm\:block {
    display: block;
  }

  .sm\:grid {
    display: grid;
  }

  .sm\:hidden {
    display: none;
  }

  .sm\:h-16 {
    height: 4rem;
  }

  .sm\:h-auto {
    height: auto;
  }

  .sm\:min-h-0 {
    min-height: 0px;
  }

  .sm\:min-h-\[262px\] {
    min-height: 262px;
  }

  .sm\:w-48 {
    width: 12rem;
  }

  .sm\:w-52 {
    width: 13rem;
  }

  .sm\:w-\[45\%\] {
    width: 45%;
  }

  .sm\:w-full {
    width: 100%;
  }

  .sm\:max-w-\[230px\] {
    max-width: 230px;
  }

  .sm\:max-w-\[250px\] {
    max-width: 250px;
  }

  .sm\:max-w-\[335px\] {
    max-width: 335px;
  }

  .sm\:max-w-full {
    max-width: 100%;
  }

  .sm\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .sm\:flex-col {
    flex-direction: column;
  }

  .sm\:gap-4 {
    gap: 1rem;
  }

  .sm\:gap-5 {
    gap: 1.25rem;
  }

  .sm\:text-nowrap {
    text-wrap: nowrap;
  }

  .sm\:p-0 {
    padding: 0px;
  }

  .sm\:p-6 {
    padding: 1.5rem;
  }

  .sm\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .sm\:px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .sm\:py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .sm\:py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .sm\:pb-12 {
    padding-bottom: 3rem;
  }

  .sm\:pb-28 {
    padding-bottom: 7rem;
  }

  .sm\:pt-36 {
    padding-top: 9rem;
  }

  .sm\:text-\[13px\] {
    font-size: 13px;
  }

  .sm\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}


/* +++++++++++++++++++++++++++++++++++++++ 404 +++++++++++++++++++++++++++++++++++++++++++++= */

html,
body.error404,
#page {
  height: 100%;
}

.error404 #page {
  display: flex;
  flex-direction: column;
}

.error_404_content-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 14px;
  padding-bottom: 26px;
  position: relative;
}

.error_404_content-text_box {
  max-width: 452px;
  padding-top: 82px;
}

.error_404_content-title {
  color: #188EA0;
  font-weight: 600;
  font-size: 42px;
  margin-bottom: 18px;
}

.error_404_content-text {
  color: #182930;
  font-size: 14px;
  margin-bottom: 40px;
}

.error_404_content-btn {
  display: inline-block;
  padding: 16.5px 65.5px;
  color: #F3F4F6;
  background-color: #188EA0;
  border-radius: 12px;
  font-weight: 500;
  transition: color 0.25s;
}

.error_404_content-btn:hover {
  color: #A9D7E0;
}

.error_404_content-img_box {
  padding-right: 106px;
}

@media (max-width: 1150px) {
  .error_404_content-img_box {
    padding-top: 11px;
    padding-right: 35px;
  }
}

@media (max-width: 902px) {
  .error_404_content-img {
    max-width: 357px;
  }

  .error_404_content-title {
    font-size: 36px;
  }

  .error_404_content-text_box {
    padding-top: 0;
  }

  .error_404_content-img_box {
    position: absolute;
    right: 0;
    z-index: -1;
  }

  .error_404_content-text_box {
    max-width: 382px;
  }

  .error_404_content-wrapper {
    min-height: 372px;
    padding-top: 20px;
  }
}

@media (max-width: 712px) {
  .error_404_content-img {
    max-width: 250px;
  }

  .error_404_content-wrapper {
    min-height: 268px;
  }
}

@media (max-width: 642px) {
  .error_404_content-wrapper {
    padding-top: 20px;
  }

  .error_404_content-text {
    margin-bottom: 300px;
  }

  .error_404_content-text_box {
    max-width: 100%;
  }

  .error_404_content-img_box {
    padding: 0;
  }

  .error_404_content-btn {
    display: block;
    text-align: center;
    line-height: 17px;
  }

  .error_404_content-img_box {
    bottom: 100px;
    right: 50%;
    transform: translateX(50%);
  }
}

@media (max-width: 376px) {
  .error_404_content-wrapper {
    padding-top: 0;
  }

  .error404 section {
    padding-top: 4px;
  }

  .error_404_content-title {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 12px;
    max-width: 214px;
  }

}

/* +++++++++++++++++++++++++++++++++++++++ 404 +++++++++++++++++++++++++++++++++++++++++++++= */